ul {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

img {
    border-radius: 5px 5px 0 0;
}

p {
    font-size:x-large;
    font-family:monospace;
    font-weight: lighter;
    color:rgba(0,0,0,0.6);
}

body {
    margin-top: 50px;
    margin: 0;
    padding: 0;
}

.upper {
    height: 40px;
    background-color:#8112ff;
    color:#ffffff;
    font-size:xx-large;
    font-family:monospace;
    text-align: justify;
    position: sticky;
    top: 0;
    width: 100%;
}

.card-title {
    font-size:x-large;
    font-family:monospace;
    font-weight: lighter;
}

.card-link {
    color:#8112ff;
    font-size:x-large;
    font-family:monospace;
    font-weight: lighter;
    text-underline-offset: 20%;
}

.card-link:hover{
    color: #44ffa8
}


.flex_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 375px;
    transition: 0.3s;
    padding: 16px;
    border-radius: 5px;
    width: 30%
}

.container {
    height: 300px;
}