ul {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding-left: 10%;
}

p {
    font-size: x-large;
    font-family: monospace;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.6);
}

body {
    margin: 0;
    padding: 0;
    background-color: #fefefe;
}

.mainLink {
    color: #ffffff;
    text-decoration: none;
    padding-left: 5px;
}

.underHead {
    display: flex;
    padding-top: 7px;
    justify-content: space-between;
}

.calcBtn {
    padding-right: 15px;
}

.searchForm {
    display: flex;
    padding-left: 15px;
}

.searchFrame {
    width: 250px;
    height: 30px;
    border-radius: 20px;
    border-color: #910ed8;
    border-width: 0.1px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: monospace;
    font-size: large;
    font-weight: lighter;
    background-color: #fefefe;
}

.searchFrame::placeholder {
    font-family: monospace;
    font-size: large;
    font-weight: lighter;
    opacity: 0.5;
    color: rgb(0, 0, 0);
}

.searchBtn {
    background-color: #910ed8;
    height: 35px;
    border-width: 0;
    margin-left: 5px;
    width: 80px;
    color: #ffffff;
    border-radius: 20px;
    font-family: monospace;
    font-weight: lighter;
    font-size: large;
}

.searchBtn:hover {
    background-color: #e4c200
}

.emptyList {
    display: flex;
    font-size: xx-large;
    font-family: monospace;
}

.upper {
    display: flex;
    height: 40px;
    background-color: #910ed8;
    color: #ffffff;
    font-size: xx-large;
    font-family: monospace;
    text-align: justify;
    position: sticky;
    padding: 0.5%;
    padding-left: 1.5%;
    top: 0;
    width: 98%;
}

.flex_container_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    padding: 16px;
    border-radius: 5px;
    width: 30%
}

.card-title {
    font-size: x-large;
    font-family: monospace;
    font-weight: lighter;
}

.card-link {
    color: #910ed8;
    font-size: x-large;
    font-family: monospace;
    font-weight: lighter;
    text-underline-offset: 20%;
}

.card-link:hover {
    color: #e4c200
}

.addBtn {
    color: #0000007b;
    font-size: x-large;
    font-family: monospace;
    font-weight: lighter;
    text-decoration: underline;
    text-underline-offset: 20%;
    text-decoration-thickness: 1.5px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 0;
    padding-top: 5px;
}

.addBtn:hover {
    color: #e4c200
}


.container {
    padding-bottom: 20px;
}

.metricsNum {
    background-color: #910ed8;
    color: #ffffff;
    border-radius: 8px;
    width: 15px;
    height: 15px;
    text-decoration: none;
    text-align: center;
    font-family: monospace;
}

.cartWithNum {
    display: flex;
}

.flex_container_cart {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
    display: flex;
}

.calcItem {
    padding-left: 40px;
}

.metricPage {
    display: flex;
    flex-direction: column;
    padding: 60px;
    padding-top: 40px;
}

.infoSpace {
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    align-items: center;
}

.metricTitle {
    font-family: monospace;
    font-weight: lighter;
    font-size: xx-large;
    padding-bottom: 20px;
}

.inputFrame {
    margin-bottom: 20px;
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border-color: #910ed8;
    border-width: 0.1px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: monospace;
    font-size: large;
    font-weight: lighter;
    background-color: #fefefe;
}

.inputFrame::placeholder {
    font-family: monospace;
    font-size: large;
    font-weight: lighter;
    opacity: 0.5;
    color: rgb(0, 0, 0);
}

.numberFrame {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border-color: #910ed8;
    border-width: 0.1px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: monospace;
    font-size: large;
    font-weight: lighter;
    background-color: #fefefe;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.numberFrame::placeholder {
    opacity: 1;
    color: rgba(0, 0, 0, 0.6);
}

.numberOfElems {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding-bottom: 10px;
}

.delBtn {
    background-color: #910ed8;
    height: 35px;
    border-width: 0;
    margin-left: 5px;
    width: 80px;
    color: #ffffff;
    border-radius: 20px;
    font-family: monospace;
    font-weight: lighter;
    font-size: large;
}

.delBtn:hover {
    background-color: #e4c200
}

.upper_calc_list {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 120px;
    width: 80%;
    justify-content: space-between;
}