<!doctype html>
{% load static %}
<link rel="stylesheet"  type="text/css" href="{% static 'css/card.css' %}">
<html lang="en" class="h-100">
<head>
  <link rel="shortcut icon" href="http://127.0.0.1:9000/items/icon.png" />
  <div class="upper">
    <img src="http://127.0.0.1:9000/items/icon.png" style="height:30px">
  <a href="{% url 'metrics' %}" class="mainLink">
    Statistician</a>
  </div>
  <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
