{% extends 'base_page.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <div class="upper_calc_list">
        <form class="change_data" action="change_data" method="post">
            {% csrf_token %}
            {% if data.first.calc.data_for_calc %}
                <input class="inputFrame" name="inputData" type="text" placeholder="{{data.first.calc.data_for_calc}}">
            {% else %}
                <input class="inputFrame" name="inputData" type="text" placeholder="Введите данные для расчёта через пробел:">
            {% endif %}
        </form>
        
        <form class="delete" action="delete_calculations" method="post">
            {% csrf_token %}
            <input class="delBtn" type="submit" value="Удалить" >
        </form>
    </div>

    {% for metric in data %}
        {% include 'calc_item.html' with element=metric %}
    {% endfor %}
{% endblock %}