<div class="flex_container_cart">
    <img src={{ element.metric.picture_url }} alt="card" style="height:150px">
    <div class="calcItem">
    <h4><b><a class="card-title">{{ element.metric.title }}</a></b></h4>
    <div class="numberOfElems">
        <p>Количество элементов для расчета: </p>
        <form class="change_amount" action="change_amount/{{element.calc_metric_id}}" method="post">
            {% csrf_token %}
            <input class="numberFrame" name="inputData" type="text" placeholder="{{ element.amount_of_data }}">
        </form>
    </div>
    <a href="{% url 'metric_url' element.metric.metric_id %}" class="card-link">Узнать больше &#8594</a>
    </div>
</div>