{% extends 'base_page.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <div class="upper_calc_list">
        <input class="inputFrame" name="inputData" type="text" placeholder="Введите сюда данные для расчета через пробел:">
        
        <form class="delete" action="delete_calculations" method="post">
            {% csrf_token %}
            <input class="delBtn" type="submit" value="Удалить" >
        </form>
    </div>

    {% for metric in data %}
        {% include 'calc_item.html' with element=metric %}
    {% endfor %}
{% endblock %}