{% extends 'base_page.html' %}

{% block title %}Список метрик{% endblock %}

{% block content %}
<div class="underHead">
<form class="searchForm" action="." method="get">
    <input class="searchFrame" name="metricName" type="text" placeholder="Название метрики:">
    <input class="searchBtn" type="submit" value="Поиск" >
    {% if data.reset_flag%}
        <a href="{% url 'metrics'%}">
            <img src="http://127.0.0.1:9000/items/reset.png" style="width:35px"/>
        </a>
    {% endif %}
</form>  
<div class="cartWithNum">
<div class="metricsNum">{{data.count_metrics_in_calc_list}}</div>
<a href="{% url 'calc_list' data.calc_list_id %}" class="calcBtn">
    <img src="http://127.0.0.1:9000/items/shopping-cart.png" style="height:35px"/>
</a>
</div>
</div>
<ul>
    {% for metric in data.metrics %}
        {% include 'metric_card.html' with element=metric %}
    {% empty %}
        <div class="emptyList">По вашему запросу ничего не найдено</div>
    {% endfor %}
</ul>
{% endblock %}